video-player {
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
  background: #ffffff;
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.video-player {
  background: #dddddd;
  border-radius: 6px;
  overflow: hidden;
}
