@import "~shared/styles/colors";


video-upload {
  display: block;
}


.video-upload {
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-items: stretch;
  background-color: desaturate(lighten($accent-cyan, 90%), 20%);
  border: 3px solid desaturate(lighten($accent-cyan, 70%), 30%);
  border-radius: 10px;

  &__input-container {
    text-align: center;
  }

  &__upload-button-label {
    background-color: $accent-cyan;
    color: #ffffff;
    font-weight: 600;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    margin: 30px 30px;
    display: inline-block;

    &:hover {
      cursor: pointer;
      background-color: $accent-cyan_hover;
    }

    &:active,
    &:hover:active {
      background-color: $accent-cyan_active;
    }
  }

  &__input {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

}
